<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <title>Exemplo VueJS usando HTML Clássico</title>
</head>
<body>
    <div id="app">
        <div :title="myTitle" :class="className">
            {{ atMostChars(message, 100) }}
        </div>

        <input type="button" value="Fazer magia" @click="revertMessage">

        <a :href="href">Conteudo</a>

        <div v-if="role === 'admin'">
            Parabens voce eh admnistrador
        </div>
        <div v-else-if="role === 'mod'">
            Parabens voce eh mod
        </div>
        <div v-else>
            Voce nao pode ver isto
        </div>

        <ul>
            <li v-for="(task, i) in tasks" :key="i">[{{ i + 1 }}] {{ task.title }}</li>
        </ul>

        <select>
            <option v-for="(task, i) in tasks" :key="i" :value="task.title">{{task.title}}</option>
        </select>
    </div>
</body>
</html>